:root {
    --primary-color: #0055a0;
    --secondary-color: #131212;
    --accent1-color: #264653;
    --accent2-color: #ebd08b;

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
}
header img {
    width: 120px;
}
nav {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
nav a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    justify-content: flex-end;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
.hero article{
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    width: 80%;
    left: 10%;
    border-radius: 8px;
}
.hero article img {
    float: right;
    width: 125px;
}
.history-layout {
    display: flex;
    grid-template-columns: 1fr 300px 1fr;
    gap: 1reem;
    align-items: center;
    margin-top: 25px;
}
.history-layout image {
    width: 100%;
    border-radius: 10px;
}
.adventure-grid {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 25px;
}
.adventure-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
figure {
    text-align: center;
    max-width: 150px;
}
.socialmedia a {
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 1rem;
    margin-top: 2rem;
}
footer .socialmedia {
    display: flex;
    gap: 1remm;
}
footer .socialmedia img {
    width: 40px;
}